{%- extends "layouts/base.html" %}

{% block title %}Request new ensemble{% endblock %} 

{# When extended, the content block contains all the html of the webpage #}
{% block content -%}
    <br>
    <div class="ui raised very padded container segment">
        <div class="ui form initial">
            <h1><u>Request a new ensemble</u></h1>
            <br>
            <div style="margin:auto; width:90%">
                <div class="field">
                    <label><h3>Name for new ensemble: <span style="font-size:80%">(begin with "CEMBA_".  Use underscores instead of spaces.)</span></h3></label>
                    <input id="ensemble-name-input" type="text" name="ensemblename" placeholder="e.g. CEMBA_new_ensemble">
                </div>
                <div class="field">
                    <h3><label>Description of new ensemble: <span style="font-size:80%">(<span id="ensemble-description-chars-remaining">255</span> characters remaining)</span></label></h3>
                    <textarea rows="2" id="ensemble-description" name="ensemble-description"></textarea>
                </div>
                <div id="dataset-table-div">
                    <div style="white-space:break-all;">
                        <h3>Select datasets to include in new ensemble:</h3>
                        <ul>
                            <li>Hold the <b>CTRL(windows) / CMD(mac) key</b> and click to select/deselect multiple individual datasets.</li>
                            <li>Hold the <b>SHIFT key</b> and click to select/deselect a range of datasets.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <table id="dataset-table" class="display"> 
                    <thead>
                        <tr>
                            <th></th>
                            <th>Dataset</th>
                            <th>Research<br>Segment</th>
                            <th>Sex</th>
                            <th>Total Cells<br>(snmC-seq)</th>
                            <th>Total Cells<br>(snATAC-seq)</th>
                            <th>Dissection<br>Region(s)</th>
                            <th>Slice(s)</th>
                            <th>Target<br>Region(s)</th>
                            <th>Date<br>Online</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="ui container segment" style="background-color: #F5F5F5;">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Selected datasets <span id="num-datasets">(0 selected)</span>:</label>
                            <textarea rows="3" id="selected-datasets" name="selected-datasets" readonly></textarea>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="two wide field" style="align-self:flex-end;">
                            <label>Total Cells (snmC-seq):</label>
                            <textarea rows="1" id="selected-datasets-total-methylation-cells" readonly></textarea>
                        </div>
                        <div class="two wide field" style="align-self:flex-end;">
                            <label>Total Cells (snATAC-seq):</label>
                            <textarea rows="1" id="selected-datasets-total-snATAC-cells" readonly></textarea>
                        </div>
                        <div class="four wide field" style="align-self:flex-end;">
                            <label>Slices:</label>
                            <textarea rows="1" id="selected-datasets-slices" readonly></textarea>
                        </div>
                        <div class="four wide field" style="align-self:flex-end;">
                            <label>Brain Regions:</label>
                            <textarea rows="1" id="selected-datasets-brain-regions" readonly></textarea>
                        </div>
                        <div class="four wide field" style="align-self:flex-end;">
                            <label>Target Regions (RS2 only):</label>
                            <textarea rows="1" id="selected-datasets-target-regions" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div id="verification-message" class="ui message" style="display:none;">
                    <div class="header" id="verification-header"></div>
                    <p id="verification-message-text"></p>
                </div>
                <div id="check-ensemble" style="display:flex; justify-content:flex-end; align-items:flex-end;">
                    <div id="please-wait-message" style="display:none; order:0;">Please wait while we check pre-existing ensembles for similarity... </div> &nbsp;
                    <button id="check-button" class="ui submit button" style="order:1;">
                        <i id="check-button-loader" class="fas fa-circle-notch fa-spin" style="display:none;"></i>
                        <span id="check-button-text">Check</span>
                    </button>
                </div>
            </div>
            <button id="final-submit-button" class="ui submit button" style="display:none; float:right;" disabled>Submit Request</button>
        <br>
    </div>
{%- endblock content %}

{% block scripts %}
    {{super()}} 
    {% assets "request_new_ensemble_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "tabular_css" %} 
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}
    <script> 
        $(document).ready( function () {
            initDataTable();
            enableDataTableSelect();
        }); 
    </script>
{% endblock scripts %}

