{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    {{ super() }}
    <div class="ui grid centered horizontally container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <div class="ui raised very padded segment">
                <h2 class="ui dividing header">Reset your password</h2>
                {{ f.render_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
