<iframe src="{{ url_for('frontend.nav_bar_screen') }}" scrolling="no" frameborder="0" style="position: relative; height: 40px; width: 100%;"></iframe>
{%- extends "bootstrap/base.html" %}
{% block title %}Single Cell Methylome{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
    {{super()}}
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {{fixes.ie8()}}
{%- endblock %}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
{% endblock %}
