{%- extends "base.html" %} {% import "bootstrap/utils.html" as utils %} {% block content %}
<div class="Site">
    <br />
	<div class="Site-content">
		<div class="container">
			{%- with messages = get_flashed_messages(with_categories=True) %} {%- if messages %}
			<div class="row">
				<div class="col-md-12">
					{{utils.flashed_messages(messages)}}
				</div>
			</div>
			{%- endif %} {%- endwith %}
			<div style="position:relative; left:0; z-index:3;">
                <div class="col-md-12">
                    <div class="panel panel-info" id="options-panel" style="margin-left:auto; margin-right:auto; ">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div style="display:inline-block;">
                                    <h5>
                                        <a class="accordion-toggle" data-parent="#options-panel" data-toggle="collapse" title="" style="margin-top: 0px;" data-original-title="Collapse Search Options" href="#search-panel-body">
                                            <div class="accordion-chevron">Options </div>
                                        </a>
                                    </h5>
                                </div>
                                <div style="display:inline-block; float:right;">
                                    <a href="#" target="_blank" id="epiBrowserLink" class="btn btn-info pull-right"role="button">
                                        <small style="color:white;">Epigenome browser (AnnoJ)</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body collapse in" id="search-panel-body" style="padding-top:10px;">
                            {% include "components/search_options.html" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Methylation PLOTS -->
			<div style="position:relative; left:0; z-index:2;">
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
						<div class="panel-heading">
							<div class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" title="" href="#methylation-plots" style="margin-top: 0px;" data-original-title="Collapse Methylation Scatter Plot Container"><b>{{ ensemble_name }} (snmC-seq)</b>{% if gene is defined %} - {{ gene }}{% endif %}&nbsp;
                                    <div style="display: inline-block;">
                                        <span>tSNE: </span>
                                        <span id="methylation-tsne-options-heading" style="font-size:0.8em;">&nbsp;</span>
                                        &nbsp;| Clustering: 
                                        <span id="methylation-clustering-options-heading" style="font-size:0.8em;">&nbsp;</span>
                                    </div>
                                    <div class="accordion-chevron" style="display: inline-block;"></div>
                                </a>
							</div>
						</div>
                        <div class="panel-collapse collapse in" id="methylation-plots">
							<div class="panel-body flex-container" style="padding:10px 0 0 0;">
                                <div class="container" id="methylation_tabs">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a id="methylation-box-tab-btn" href="#methylation-scatter" role="tab" data-toggle="tab">Scatter</a></li>
                                            <li role="presentation"><a id="methylation-box-tab-btn" href="#methylation-box" role="tab" data-toggle="tab">Box plot / Heatmap</a></li>
                                            <li role="presentation"><a id="clusters-bar-btn" href="#clusters-bar" role="tab" data-toggle="tab">Cluster statistics</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 col-sm-12 flex-item tab-content" id="methyl_scatter_div" style="padding: 0px">
                                        <div class="tab-pane active in" id="methylation-scatter">
                                            {% include "components/mch_scatter.html" %}
                                        </div>
                                        <div class="tab-pane" id="methylation-box">
                                            {% include "components/mch_box.html" %}
                                        </div>
                                        <div class="tab-pane" id="clusters-bar">
                                            {% include "components/clusters_bar.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- snATAC Plots -->
            {% if snATAC_data_available == 1 %}
			<div style="position:relative; left:0; z-index:2;">
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
						<div class="panel-heading">
							<div class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" title="" href="#snATAC-plots" style="margin-top: 0px;" data-original-title="Collapse snATAC Scatter Plot Container">
                                    <div style="display:inline-block;">
                                        <b>{{ ensemble_name }} (snATAC-seq)</b>
                                        {% if gene is defined %} - {{ gene }}{% endif %}&nbsp;
                                        <!--<span id="snATAC_tsne_heading_num_dimensions">&nbsp;</span> tSNE: 
                                        <span id="snATAC_tsne_options_heading" style="font-size:0.8em;">&nbsp;</span>
                                        &nbsp;| Clustering: 
                                        <span id="snATAC_clustering_options_heading" style="font-size:0.8em;">&nbsp;</span>-->
                                    </div>
                                    <div class="accordion-chevron" style="display:inline-block;"></div>
                                </a>
 <!--                                <a data-toggle="collapse" title="" data-placement="left" href=".snATAC-plots-options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse snATAC tSNE Options"><i class="glyphicon glyphicon-cog"></i> Options</a> -->
							</div>
						</div>
                        <div class="panel-collapse collapse in" id="snATAC-plots">
							<div class="panel-body flex-container" style="padding:10px 0 0 0;">
                                <div class="container" id="snATAC_tabs">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a id="snATAC-scatter-tab-btn" href="#snATAC-scatter" role="tab" data-toggle="tab">Scatter</a></li>
                                            <li role="presentation"><a id="snATAC-box-tab-btn" href="#snATAC-box" role="tab" data-toggle="tab">Box plot / Heatmap</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 col-sm-12 flex-item tab-content" id="snATAC_scatter_div" style="padding: 0px">
                                        <div class="tab-pane active in" id="snATAC-scatter">
                                            {% include "components/snATAC_scatter.html" %}
                                        </div>
                                        <div class="tab-pane" id="snATAC-box">
                                            {% include "components/snATAC_box.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- RNA Plots -->
            {% if RNA_data_available == 1 %}
            <div style="position:relative; left:0; z-index:2;">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" title="" href="#RNA-plots" style="margin-top: 0px;" data-original-title="Collapse RNA Scatter Plot Container">
                                    <div style="display:inline-block;">
                                        <b>{{ ensemble_name }} (RNA-seq)</b>
                                        {% if gene is defined %} - {{ gene }}{% endif %}&nbsp;
                                        <!--<span id="RNA_tsne_heading_num_dimensions">&nbsp;</span> tSNE: 
                                        <span id="RNA_tsne_options_heading" style="font-size:0.8em;">&nbsp;</span>
                                        &nbsp;| Clustering: 
                                        <span id="RNA_clustering_options_heading" style="font-size:0.8em;">&nbsp;</span>-->
                                    </div>
                                    <div class="accordion-chevron" style="display:inline-block;"></div>
                                </a>
                                <a data-toggle="collapse" title="" data-placement="left" href=".RNA-plots-options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse RNA tSNE Options"><i class="glyphicon glyphicon-cog"></i> Options</a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse in" id="RNA-plots">
                            <div class="panel-body flex-container" style="padding:10px 0 0 0;">
                                <div class="container" id="RNA_tabs">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a id="RNA-scatter-tab-btn" href="#RNA-scatter" role="tab" data-toggle="tab">Scatter</a></li>
                                            <li role="presentation"><a id="RNA-box-tab-btn" href="#RNA-box" role="tab" data-toggle="tab">Box plot / Heatmap</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 col-sm-12 flex-item tab-content" id="RNA_scatter_div" style="padding: 0px">
                                        <div class="tab-pane active in" id="RNA-scatter">
                                            {% include "components/RNA_scatter.html" %}
                                        </div>
                                        <div class="tab-pane" id="RNA-box">
                                            {% include "components/RNA_box.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
		</div>

        <!-- Cluster specific marker genes table -->
        <div style="position:relative; left:0;">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" title="" href="#cluster-specific-marker-genes" style="margin-top: 0px;" data-original-title="Collapse Cluster Specific Marker Genes Table Container"><b>Cluster specific marker genes</b>&nbsp;
                            <div class="accordion-chevron" style="display: inline-block;"></div>
                            </a>
                        </div>
                    </div>

                    <div class="panel-body collapse in" id="cluster-specific-marker-genes" style="padding-top:10px;">
                        <div class="panel-body flex-container" style="padding:10px 0 0 0;">
                            <div class="container" id="cluster-specific-marker-genes-cont">
                                <div class="col-sm-12" id="cluster-specific-marker-genes">
                                    {% include "components/cluster_specific_marker_genes.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <footer id="footer" class="footer">
        <div class="line" style="border-bottom: 1px solid #F8F9F3; height:2px">
        </div>
        <div id="padding" style="height:50px">
        </div>
        <div class="container">
            <span class="text-muted">
                <h2>Contact</h2>
                <div class="foot_contact">
                    <address>
                        <p> Browser developed by: <br>
                            Tomohiko Ishihara, Tianhao Xiao, and Junhao Li <br>
                            ({tishihar94} [at] gmail.com, {hox017, jul307} [at] ucsd.edu)
                        </p>
                        <br>
                        Social Sciences Research Building, Floor 2<br>
                        Dept. of Cognitive Science<br>
                        University of California, San Diego<br>
                        9500 Gilman Dr. #0515<br>
                        La Jolla, CA 92037-0515<br>
                        <br>
                    </address>
                </div>
                <div class="footbox last">
                    Web: <a href="http://brainome.ucsd.edu">brainome.ucsd.edu</a><br>
                    Email: <a href="mailto:lab@brainome.ucsd.edu">lab@brainome.ucsd.edu</a><br>
                </div>
            </span>
        </div>
    </footer>
</div>
<!--
<div id="footer" class="clear">
	<h2>Contact</h2>
	<div class="foot_contact">
		<address>
			Social Sciences Research Building, Floor 2<br>
			Dept. of Cognitive Science<br>
			University of California, San Diego<br>
			9500 Gilman Dr. #0515<br>
			La Jolla, CA 92037-0515<br>
			<br>
		</address>
	</div>
	<div class="footbox last">
		Web: <a href="http://brainome.ucsd.edu">brainome.ucsd.edu</a><br>
		<a name="contact">Email: </a><a href="mailto:lab@brainome.ucsd.edu">lab@brainome.ucsd.edu</a><br>
		<ul>
		</ul>
	</div>
</div>
-->
{%- endblock %} 

{% block scripts %}
{{super()}}
<!--
<script src="./static/plotly.min.js"></script>
<link href="./static/datatables.min.css" rel="stylesheet" />
<script src="./static/datatables.min.js"></script>
<link href="./static/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="./static/bootstrap-toggle.min.js"></script>
<link href="./static/select2.min.css" rel="stylesheet" />
<script src="./static/select2.min.js"></script>
<link href="./static/bootstrap-slider.min.css" rel="stylesheet" />
<script src="./static/bootstrap-slider.min.js"></script>
<script src="./static/customview.js" type="text/javascript"></script> 
-->
{% assets "browser_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "browser_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet"/>
{% endassets  %}

<script>
    var ensemble = "{{ ensemble }}";
    var ensemble_name = "{{ ensemble_name }}";
    var RS2 = {{ RS2 }};
    var snATAC_data_available = {{ snATAC_data_available }};
    var RNA_data_available = {{ RNA_data_available }};
    var num_algorithm_options = {{ num_algorithm_options }};
    var num_dims_options = {{ num_dims_options }};
    var num_perplexity_options = {{ num_perplexity_options }};
    var methylation_tsne_options = {{ methylation_tsne_options|safe }};
    var methylation_color_percentile_Slider;
    var snATAC_color_percentile_Slider;
    var RNA_color_percentile_Slider;
    var geneSearchCache;
    var mmu_gID;
    var hsa_gID;
    var grouping;
    var buttons;
    var table;
    var clusterMarkerGeneTable;

    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
        $('#methylation-box-heat-outlierToggle').bootstrapToggle();
        $('#orthologsToggle').bootstrapToggle();
        $('#orthologsToggle').bootstrapToggle('disable');
        $('#methylation_tsneOutlierToggle').bootstrapToggle();
        $('#methylation_tsne_header').append($('#methylation_tsne_settings').val());
        storage.save("last_viewed_ensemble", ensemble_name, 30); // Cache last viewed ensemble

        // Percentile changes are handled separately, as every change would result in a plot update, but we want
        // this to happen when sliding is actually stopped.
        methylation_color_percentile_Slider = $("#methylation_color_percentile").slider({
            min: 0,
            max: 1,
            step: 0.05,
            value: [0.05, 0.95],
        }).on('slideStop', function()
         {
            updateMCHScatterPlot(); 
        }
        ).data('slider');

        methylation_box_color_percentile_Slider = $("#methylation_box_color_percentile").slider({
            min: 0,
            max: 1,
            step: 0.05,
            value: [0.05, 0.95],
        }).on('slideStop', function()
         {
            updateMethylationHeatmap();
            updatesnATACHeatmap();
            updateRNAHeatmap();
        }
        ).data('slider');

        if (snATAC_data_available === 1) {
            snATAC_color_percentile_Slider = $("#snATAC_color_percentile").slider({
                min: 0,
                max: 1,
                step: 0.05,
                value: [0.05, 0.95],
            }).on('slideStop', updatesnATACScatterPlot).data('slider');

            $('#snATAC_tsneOutlierToggle').bootstrapToggle();
        }

        if (RNA_data_available === 1) {
            RNA_color_percentile_Slider = $("#RNA_color_percentile").slider({
                min: 0,
                max: 1,
                step: 0.05,
                value: [0.05, 0.95],
            }).on('slideStop', updateRNAScatterPlot).data('slider');

            $('#RNA_tsneOutlierToggle').bootstrapToggle();
        }
        
        table = $('#corrGeneTable').DataTable( {
            "destroy": true,
            "ordering": false,
            "lengthChange": false,
            "dom": "<'col-sm-12'<f>>" +
                    "<<t>>" +
                    "<'col-sm-12'<i>>" +
                    "<'col-sm-12'<p>>",
            "pagingType": "simple"
        });
        buttons = $('.modebar-btn');

        populateMethylationTSNEDropdowns(methylation_tsne_options)
        initGeneNameSearch();
        initGeneModules();
        initClusterSpecificMarkerGeneTable();
        initDataTableClick();
    });

    $("#gene-search-btn").click(function() {
        updateGeneElements();
    });

    $('#geneModulesSelect').on('select2:select', function(e) {
        geneNameSelector.val(null).trigger("change.select2");
        var data = e.params.data;
        updateSearchWithModules(data);
        $('#gene-search-btn').removeClass("disabled");
    });

    $("#geneName").on("change", function() {
        $('#geneModulesSelect').val('0').trigger('change.select2');
    });

    $('#clear-gene-search-btn').click(function() {
        geneModuleSelector.val(null).trigger("change");
        geneNameSelector.val(null).trigger("change");
    });

    $('#geneName').change(function() {
        if ($(this).val() === null) {
            $('#gene-search-btn').addClass("disabled");
        } else {
            $('#gene-search-btn').removeClass("disabled");
        }
    });

    $("#methylation-box-heat-outlierToggle, #orthologsToggle").change(function() {
        if ($('#geneName').select2('data').length === 1) {
            updateMCHBoxPlot();
            updateClustersBarPlot(); }              
        else {
            if ($('#orthologsToggle').prop('checked'))
                updateMethylationHeatmapTwoSpecies();
            else
                updateMethylationHeatmap();
        }
    });

    $("#snATAC-box-heat-outlierToggle").change(function() {
        if ($('#geneName').select2('data').length === 1)
            updatesnATACBoxPlot();
        else {
            updatesnATACHeatmap();
        }
    });

    $("#RNA-box-heat-outlierToggle").change(function() {
        if ($('#geneName').select2('data').length === 1)
            updateRNABoxPlot();
        else {
            updateRNAHeatmap();
        }
    });

    $("#methylation-box-heat-normalize-toggle").change(function() {
        if ($('#geneName').select2('data').length > 1) {
            if ($('#orthologsToggle').prop('checked'))
                updateMethylationHeatmapTwoSpecies();
            else
                updateMethylationHeatmap();
        }
    });

    $("#snATAC-box-heat-normalize-toggle").change(function() {
        if ($('#geneName').select2('data').length > 1) {
            updatesnATACHeatmap();
        }
    });

    $("#RNA-box-heat-normalize-toggle").change(function() {
        if ($('#geneName').select2('data').length > 1) {
            updateRNAHeatmap();
        }
    });

    $("#clusters-bar-normalize-toggle").change(function() {
        updateClustersBarPlot();
    });

    $("#toggle-3d").change(function() {
        display3DPlotToggle();
    });

    $("#methylation-tsneUpdateBtn:enabled, #methylation-box-heat-UpdateBtn:enabled").click(function() {
        updateMCHScatterPlot(onlyUpdatetSNEandClustering=true);
        initClusterSpecificMarkerGeneTable();
        if ($('#geneName').select2('data').length > 1) {
            updateMethylationHeatmap();
        } 
        else if ($('#geneName').select2('data').length === 1 ) {
            updateMCHBoxPlot();
            updateClustersBarPlot();
        }
        else {}
    });


    $("#snATAC-tsneUpdateBtn:enabled, #snATAC-box-heat-UpdateBtn:enabled").click(function() {
        updatesnATACScatterPlot(onlyUpdatetSNEandClustering=true);
        if ($('#geneName').select2('data').length > 1) {
            updatesnATACHeatmap();
        } else {
            updatesnATACBoxPlot();
        }
    });

    $("#RNA-tsneUpdateBtn:enabled, #RNA-box-heat-UpdateBtn:enabled").click(function() {
        updateRNAScatterPlot(onlyUpdatetSNEandClustering=true);
        if ($('#geneName').select2('data').length > 1) {
            updateRNAHeatmap();
        } else {
            updateRNABoxPlot();
        }
    });

    $("#methylation_tsneOutlierToggle").change(function() {
        updateMCHScatterPlot();
    });

    $("#snATAC_tsneOutlierToggle").change(function() {
        updatesnATACScatterPlot();
    });

    $("#RNA_tsneOutlierToggle").change(function() {
        updateRNAScatterPlot();
    });

    /* DYNAMIC TSNE (methylation) DROPDOWN OPTIONS */
    $(".methylation-tsne-methylation").change(function() {
        dynamicMethylationTSNEOptions_methylation();
    });
    $(".methylation-tsne-dimensions").change(function() {
        dynamicMethylationTSNEOptions_dimensions();
    });

    /* DYNAMIC CLUSTERING (methylation) DROPDOWN OPTIONS */
    $(".methylation-clustering-methylation").change(function() {
        dynamicMethylationClusteringOptions_methylation();
    });
    $(".methylation-clustering-algorithms").change(function() {
        dynamicMethylationClusteringOptions_algorithm();
    });
   
    /*
    $(".methylation-clustering-npc").change(function() {
        dynamicMethylationClusteringOptions_npc();
    });
    */

    $("#methylation-tsne-grouping").change(function() {
         $("#methylation-tsne-grouping").val($(this).val());
    });
    $("#methylation-clustering-algorithm, #methylation-clustering-box-heat-algorithm").change(function() {
         $("#methylation-clustering-algorithm, #methylation-clustering-box-heat-algorithm").val($(this).val());
    });
    $("#methylation-clustering-methylation, #methylation-clustering-box-heat-methylation").change(function() {
         $("#methylation-clustering-methylation, #methylation-clustering-box-heat-methylation").val($(this).val());
    });
    /*
    $("#methylation-clustering-npc, #methylation-clustering-box-heat-npc").change(function() {
         $("#methylation-clustering-npc, #methylation-clustering-box-heat-npc").val($(this).val());
    });
    */
    $("#methylation-clustering-k, #methylation-clustering-box-heat-k").change(function() {
         $("#methylation-clustering-k, #methylation-clustering-box-heat-k").val($(this).val());
    });

    $("#snATAC-tsne-grouping, #snATAC-box-heat-grouping").change(function() {
         $("#snATAC-tsne-grouping, #snATAC-box-heat-grouping").val($(this).val());
    });

    $("#RNA-tsne-grouping, #RNA-box-heat-grouping").change(function() {
         $("#RNA-tsne-grouping, #RNA-box-heat-grouping").val($(this).val());
    });


    $(".pop").popover({ trigger: "manual" , html: true, animation:false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
            }, 300);
    });
</script>
{% endblock %}
