{%- extends "layouts/base.html" %} 

{% block title %}Ensemble Summary{% endblock %} 

{# When extended, the content block contains all the html of the webpage #}
{% block content -%}
    <br>
    <div id="cemba-dissection-div" class="display compact" width="90%">
        {% include "components/CEMBA_dissections.html" %}
    </div>

    <div id="showAllSamples" style="margin:auto; width:90%; padding-top: 50px;">
      <input id="showAllSamplesToggle" name="Show slices" type="button" onclick="updateTable('.');" value="Show all samples" style="padding:10px;">
      <!-- <label for="showAllSamplesToggle">Show all samples</label> -->
    </div>
    <div id="ensemble-table-div" style="margin:auto; width:90%; padding-top: 50px;">
        <table id="ensemble-table" class="display compact" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th style="width:100px">Ensemble</th>
                    <th>Total Cells<br>(snmC-seq)</th>
                    <th>Total Cells<br>(snATAC-seq)</th>
                    <th style="width: 200px;">Dissection Region(s)</th>
                    <th>Slice(s)</th>
                    <th># of<br>Datasets</th>
                    <th>Target<br>Region(s)</th>
                    <th>Public<br>Access</th>
                    <th>Explore<br>tSNE/<br>heatmaps</th>
                    <th>Explore<br>AnnoJ<br>browser</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="11" style="text-align:right">Total:</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
{%- endblock content %}

{% block scripts %}
    {{super()}} 
    <!--
    <script src="/static/datatables.min.js"></script>
    <link href="/static/datatables.min.css" rel="stylesheet" />
    <script src="/static/tabular_ensemble.js"></script>
    --> 
    {% assets "tabular_ensemble_js" %} 
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "tabular_css" %} 
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

    <script> 
        var region = "{{ region }}";
        var region_tgt = "{{ region_tgt }}"; // Synaptic target region, i.e. where the retro-AAV was injected (for RS2 samples)
        
        $(document).ready( function () {
            initEnsembleDataTable();
        }); 
    </script>

{% endblock scripts %}

