<div class="panel-body" style="padding-top:10px;">
    <div class="container">
        <div class="row">
            <div style="margin:auto;" id="clusters-bar-div">
				<div class="col-md-offset-2">
	                <input id="clusters-bar-normalize-toggle" data-on="Normalized" data-off="Unnormalized" type="checkbox">
	                <label for="clusters-bar-normalize-toggle">
	                	Normalize by cluster
	                </label>
	            </div>                
                <div id="clusters-bar-loader" class="loader"></div>
                <div class="plot-panel" style="margin:auto;" id="plot-clusters-bar"></div>
            </div>
        </div>
    </div>
</div>
