{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="./static/app.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Combined mCH distribution for mouse (red) and human (black) clusters</div>
        <div class="panel-body">
                <div class="row">
                    <div class="col-md-3" id="mCHLevelCol">
                        <label for="levels" class="control-label">mCH Levels</label>
                        <input type="radio" name="levels" id="levelsOriginal" value="original">original</input>
                        <input type="radio" name="levels" id="levelsNormalized" value="normalized" checked>normalized</input>
                    </div>
           </div>
            <div class="row">
                <div class="col-sm-6" id="outlierOptions">
                    <input id="outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
                    <a href="#" data-toggle="popover" data-content="This will remove points 3 standard deviations away from the mean."><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
            </div>
            <div id="plot-mch-box">Loading...</div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
  {{super()}}
  <link href="./static/bootstrap-slider.min.css" rel="stylesheet" />
  <script src="./static/bootstrap-slider.min.js"></script>
  <link href="./static/bootstrap-toggle.min.css" rel="stylesheet" />
  <script src="./static/bootstrap-toggle.min.js"></script>
  <script src="./static/plotly.min.js"></script>
  <script src="./static/customview.js"></script>
  <script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $('#outlierToggle').bootstrapToggle();
        updateMCHCombinedBoxPlot('{{ mmu_gid }}', '{{ hsa_gid }}');
    });

    $("#mCHLevelCol :input, #geneNameCol :input").change(function () {
        updateMCHCombinedBoxPlot('{{ mmu_gid }}', '{{ hsa_gid }}');
    });
    $("#outlierToggle").change(function () {
        updateMCHCombinedBoxPlot('{{ mmu_gid }}', '{{ hsa_gid }}');
    });

  </script>
{% endblock %}