{%- extends "base.html" %} {% import "bootstrap/utils.html" as utils %} {% block content %}
<div class="Site">
	<div class="Site-content">
		<div class="container">
			{%- with messages = get_flashed_messages(with_categories=True) %} {%- if messages %}
			<div class="row">
				<div class="col-md-12">
					{{utils.flashed_messages(messages)}}
				</div>
			</div>
			{%- endif %} {%- endwith %}
			<div style="position:relative; left:0; z-index:2;">
                <div class="col-md-12">
                    <div class="panel panel-info" id="options-panel" style="overflow-x: auto; margin-left:auto; margin-right:auto; max-width:1400px">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5><a data-toggle="collapse" title="" style="margin-top: 0px;" data-original-title="Collapse Search Options" href="#search-panel-body"> Gene Search <span class="glyphicon glyphicon-chevron-down"></span></a>
                                <a href="#" target="_blank" id="epiBrowserLink" class="btn btn-info disabled pull-right" style="margin-top: 0px; margin-right:10px" role="button">
                                    <small style="color:white;">Epigenome browser (AnnoJ)</small>
                                </a>
                                </h5>
                            </div>
                        </div>
                        <div class="panel-body collapse in" id="search-panel-body" style="padding-top:10px;">
                            {% include "components/search_options.html" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- tSNE (methylation) SCATTER PLOTS -->
			<div style="position:relative; left:0; z-index:2;">
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
						<div class="panel-heading">
							<div class="panel-title">
                                <a data-toggle="collapse" title="" href="#methylation_scatter_plots" style="margin-top: 0px;" data-original-title="Collapse Methylation Scatter Plot Container"><b>{{ ensemble_name }} (sn-Methylation)</b>{% if gene is defined %} - {{ gene }}{% endif %}&nbsp;
                                    <span id="methylation_tsne_heading_num_dimensions">&nbsp;</span> tSNE: 
                                    <span id="methylation_tsne_options_heading" style="font-size:0.8em;">&nbsp;</span>
                                    &nbsp;| Clustering: 
                                    <span id="methylation_clustering_options_heading" style="font-size:0.8em;">&nbsp;</span>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <a data-toggle="collapse" title="" data-placement="left" href="#methylation_tsne_plots_options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse Methylation tSNE Options"><span class="glyphicon glyphicon-cog"></span></a>
							</div>
						</div>
                        <div class="panel-collapse collapse in" id="methylation_scatter_plots">
							<div class="panel-body flex-container" style="padding:0px">
                                <div class="col-md-12 col-sm-12 flex-item" id="methyl_scatter_div" style="padding: 0px">
                                    {% include "components/mch_scatter.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tSNE (snATAC) Scatter Plots -->
            {% if snATAC_data_available == 1 %}
			<div style="position:relative; left:0; z-index:2;">
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
						<div class="panel-heading">
							<div class="panel-title">
                                <a data-toggle="collapse" title="" href="#snATAC_scatter_plots" style="margin-top: 0px;" data-original-title="Collapse snATAC Scatter Plot Container"><b>{{ ensemble_name }} (snATAC)</b>{% if gene is defined %} - {{ gene }}{% endif %}&nbsp;
                                    <!--<span id="snATAC_tsne_heading_num_dimensions">&nbsp;</span> tSNE: 
                                    <span id="snATAC_tsne_options_heading" style="font-size:0.8em;">&nbsp;</span>
                                    &nbsp;| Clustering: 
                                    <span id="snATAC_clustering_options_heading" style="font-size:0.8em;">&nbsp;</span>-->
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <a data-toggle="collapse" title="" data-placement="left" href="#snATAC_tsne_plots_options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse snATAC tSNE Options"><span class="glyphicon glyphicon-cog"></span></a>
							</div>
						</div>
                        <div class="panel-collapse collapse in" id="snATAC_scatter_plots">
							<div class="panel-body flex-container" style="padding:0px">
                                <div class="col-md-12 col-sm-12 flex-item" id="snATAC_scatter_div" style="padding: 0px">
                                    {% include "components/snATAC_scatter.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Methylation Box plot/Heatmap -->
			<div class="col-sm-12" style="position:relative; z-index:2;">
				<div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto; display:none;" id="methyl_graphs_div">
					<div class="panel-heading">
						<div class="panel-title">
							<a data-toggle="collapse" title="" href="#mch_box" style="margin-top: 0px;">Gene methylation level &nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
							<a data-toggle="collapse" title="" data-placement="left" href="#box-heatmap-options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;"><span class="glyphicon glyphicon-cog"></span></a>
					   </div>
				   </div>
				   <div class="panel-collapse collapse in" id="mch_box">
						<div class="panel-body">
							<div class="col-md-9 col-sm-12" id="mch_box_div">
								{% include "components/mch_box.html" %}
							</div>
							<div class="col-md-3 col-sm-12" id="gene_table_div">
								{% include "components/mch_table.html" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <footer id="footer" class="footer">
        <div class="line" style="border-bottom: 1px solid #F8F9F3; height:2px">
        </div>
        <div id="padding" style="height:50px">
        </div>
        <div class="container">
            <span class="text-muted">
                <h2>Contact</h2>
                <div class="foot_contact">
                    <address>
                        <p> Browser developed by: <br>
                            Tomohiko Ishihara, Tianhao Xiao, and Junhao Li <br>
                            ({tishihar94} [at] gmail.com, {hox017, jul307} [at] ucsd.edu)
                        </p>
                        <br>
                        Social Sciences Research Building, Floor 2<br>
                        Dept. of Cognitive Science<br>
                        University of California, San Diego<br>
                        9500 Gilman Dr. #0515<br>
                        La Jolla, CA 92037-0515<br>
                        <br>
                    </address>
                </div>
                <div class="footbox last">
                    Web: <a href="http://brainome.ucsd.edu">brainome.ucsd.edu</a><br>
                    Email: <a href="mailto:lab@brainome.ucsd.edu">lab@brainome.ucsd.edu</a><br>
                </div>
            </span>
        </div>
    </footer>
</div>
<!--
<div id="footer" class="clear">
	<h2>Contact</h2>
	<div class="foot_contact">
		<address>
			Social Sciences Research Building, Floor 2<br>
			Dept. of Cognitive Science<br>
			University of California, San Diego<br>
			9500 Gilman Dr. #0515<br>
			La Jolla, CA 92037-0515<br>
			<br>
		</address>
	</div>
	<div class="footbox last">
		Web: <a href="http://brainome.ucsd.edu">brainome.ucsd.edu</a><br>
		<a name="contact">Email: </a><a href="mailto:lab@brainome.ucsd.edu">lab@brainome.ucsd.edu</a><br>
		<ul>
		</ul>
	</div>
</div>
-->
{%- endblock %} {% block scripts %} {{super()}}

<script src="./static/plotly.min.js"></script>
<link href="./static/datatables.min.css" rel="stylesheet" />
<script src="./static/datatables.min.js"></script>
<link href="./static/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="./static/bootstrap-toggle.min.js"></script>
<link href="./static/select2.min.css" rel="stylesheet" />
<script src="./static/select2.min.js"></script>
<link href="./static/bootstrap-slider.min.css" rel="stylesheet" />
<script src="./static/bootstrap-slider.min.js"></script>
<script src="./static/customview.js" type="text/javascript"></script> 
<script>
    var ensemble = "{{ ensemble }}";
    var snATAC_data_available = {{ snATAC_data_available }};
    var methylation_color_percentile_Slider;
    var snATAC_color_percentile_Slider;
    var geneSearchCache;
    var mmu_gID;
    var hsa_gID;
    var grouping;
    var buttons;
    var table;

    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
        $('#outlierToggle').bootstrapToggle();
        $('#orthologsToggle').bootstrapToggle();
        $('#orthologsToggle').bootstrapToggle('disable');
        $('#methylation_tsneOutlierToggle').bootstrapToggle();

        $('#methylation_tsne_header').append($('#methylation_tsne_settings').val());

        // Percentile changes are handled separately, as every change would result in a plot update, but we want
        // this to happen when sliding is actually stopped.
        methylation_color_percentile_Slider = $("#methylation_color_percentile").slider({
            min: 0,
            max: 1,
            step: 0.05,
            value: [0.05, 0.95],
        }).on('slideStop', updateMCHScatterPlot).data('slider');

        if (snATAC_data_available === 1) {
            snATAC_color_percentile_Slider = $("#snATAC_color_percentile").slider({
                min: 0,
                max: 1,
                step: 0.05,
                value: [0.05, 0.95],
            }).on('slideStop', updatesnATACScatterPlot).data('slider');

            $('#snATAC_tsneOutlierToggle').bootstrapToggle();

            //populatesnATACTSNEDropdowns();
        }
        
        table = $('#geneTable').DataTable( {
            "destroy": true,
            "ordering": false,
            "lengthChange": false,
            "dom": "<'col-sm-12'<f>>" +
                    "<<t>>" +
                    "<'col-sm-12'<i>>" +
                    "<'col-sm-12'<p>>",
            "pagingType": "simple"
        });
        buttons = $('.modebar-btn');

        populateMethylationTSNEDropdowns();
        initGeneNameSearch();
        initGeneModules();
        initDataTableClick();
        updateGeneElements();

    });

    $("#methylationLevelDiv :input, #methylationTypeDiv :input").change(function() {
        updateGeneElements();
    });

    $("#gene-search-btn").click(function() {
        updateGeneElements();
    });

    //wait for resizing to end, then reset axes.
    var resizeTimer;
    $(window).on('resize', function(e) {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function() {
            if($("#geneName").select2('data').length > 0){  //if one or more genes have been selected
                if($('#methylation_scatter_plots').hasClass("in")){
                    try{
                        buttons[8].click(); //button for autoscaling methylation_tsne_scatter
                    }
                    catch(err) {}
                }
                if($('#mch_box').hasClass("in")){
                    try{
                        buttons[20].click();  //button for autoscaling mch_box/heatmap
                    }
                    catch(err) {}
                }
            }
            else{
                if($('#methylation_scatter_plots').hasClass("in")){
                    try{
                        buttons[8].click();  //button for autoscaling methylation_tsne_scatter
                    }
                    catch(err) {}
                }
            }
        }, 250);
    });

    $('#geneModulesSelect').on('select2:select', function(e) {
        geneNameSelector.val(null).trigger("change");
        var data = e.params.data;
        updateSearchWithModules(data);
    });

    $('#clear-gene-search-btn').click(function() {
        geneModuleSelector.val(null).trigger("change");
        geneNameSelector.val(null).trigger("change");
        storage.save('lastViewedGenes', [], 5);  // store last viewed genes for 5 minutes
    });

    $("#outlierToggle, #orthologsToggle").change(function() {
        if ($('#geneName').select2('data').length === 1)
            updateMCHBoxPlot();
        else {
            if ($('#orthologsToggle').prop('checked'))
                createHeatmapTwoSpecies();
            else
                createHeatmap();
        }
    });

    $("#normalize-toggle").change(function() {
        if ($('#geneName').select2('data').length > 1) {
            if ($('#orthologsToggle').prop('checked'))
                createHeatmapTwoSpecies();
            else
                createHeatmap();
        }
    });

    $("#toggle-3d").change(function() {
        display3DPlotToggle();
    });

    $("#methylation_tsneUpdateBtn").click(function() {
        updateGeneElements();
    });

    $("#methylation_tsneOutlierToggle").change(function() {
        updateMCHScatterPlot();
    });

    $("#snATAC_tsneOutlierToggle").change(function() {
        updatesnATACScatterPlot();
    });

    /* DYNAMIC TSNE (methylation) DROPDOWN OPTIONS */
    $("#methylation_tsne_methylation").change(function() {
        dynamicMethylationTSNEOptions_methylation();
    });
    $("#methylation_tsne_dimensions").change(function() {
        dynamicMethylationTSNEOptions_dimensions();
    });


    /* DYNAMIC CLUSTERING (methylation) DROPDOWN OPTIONS */
    $("#methylation_clustering_methylation").change(function() {
        dynamicMethylationClusteringOptions_methylation();
    });
    $("#methylation_clustering_algorithms").change(function() {
        dynamicMethylationClusteringOptions_algorithm();
    });
    $("#methylation_clustering_npc").change(function() {
        dynamicMethylationClusteringOptions_npc();
    });

    /*
    $("#methylation_tsne_grouping, #methylation_tsne_clustering").change(function() {
        updateGeneElements(updateMCHScatter=false);
    });*/
    
</script>
{% endblock %}
