{%- extends "base.html" %} {% import "bootstrap/utils.html" as utils %} {% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %} {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
        </div>
    </div>
    {%- endif %} {%- endwith %}
    <div class="col-md-12 sticky">
        <div class="panel panel-info" id="options-panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5>Search<a data-toggle="collapse" title="" data-placement="left" class="btn btn-sm btn-danger pull-right" style="margin-top: 0px;" data-original-title="Collapse Search Options" href="#search-panel-body"><span class="glyphicon glyphicon-resize-small"></span></a>
                    <a href="#" target="_blank" id="epiBrowserLink" class="btn btn-sm btn-info disabled pull-right" style="margin-top: 0px; margin-right:10px" role="button">
                        <small style="color:white;">Epigenome browser (AnnoJ)</small>
                    </a>
                    </h5>
                </div>
            </div>
            <div class="panel-body collapse in" id="search-panel-body" style="padding-top:10px;">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12" style="margin-bottom:0px;">
                            <label for="geneName" class="control-label">
                                Search gene by name: <a href="#" data-toggle="popover" title="Gene name" data-content="Type a gene name."><span class="glyphicon glyphicon-info-sign"></span></a>
                            </label><br>
                            <select id="geneName" multiple style="width:100%">
                                <option>Select..</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-4" id="mCHLevelCol">
                            <label for="levels" class="control-label">mCH Levels</label><br>
                            <input type="radio" name="levels" id="levelsOriginal" value="original">&nbsp;Original
                            <input type="radio" name="levels" id="levelsNormalized" value="normalized" checked>&nbsp;Normalized
                        </div>
                        <div class="col-md-2 col-sm-4" id="methylationTypeCol">
                            <label for="mType" class="control-label">Methylation Type</label><br>
                            <input type="radio" name="mType" id="type_mch" value="mch" checked>&nbsp;mCH
                            <input type="radio" name="mType" id="type_mcg" value="mcg">&nbsp;mCG
                        </div>
                        <div class="form-group col-md-3 col-sm-4" style="margin-bottom:0px; margin-top:15px; float:right;">
                            <div style="display: inline-block;">
                                <button type="button" class="btn btn-success btn-sm" id="gene-search-btn" style="padding-right:10px;">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Search
                                </button>
                                <button type="button" class="btn btn-default btn-sm" id="back-btn">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position:relative; left:0; z-index:2;">
        <div class="col-md-6 col-sm-12" style="padding-right:8px;">
            <div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
                <div class="panel-heading">
                    <div class="panel-title"><b>{{ species }}</b> Clustering{% if gene is defined %} - {{ gene }}{% endif %}
                        <a data-toggle="collapse" title="" data-placement="left" href="#tsne_plots" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse Search Options"><span class="glyphicon glyphicon-resize-small"></span></a>
                        <a data-toggle="collapse" title="" data-placement="left" href="#tsne_plots_options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse Search Options"><span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="tsne_plots">
                    <div class="panel-body">
                        {% include "components/tsne_cluster.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" style="padding-left:8px;">
            <div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto;">
                <div class="panel-heading">
                    <div class="panel-title">
                        Gene Methylation level{% if gene is defined %} - {{ gene }}{% endif %}
                        <a data-toggle="collapse" title="" data-placement="left" href="#mch_scatter" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse Search Options"><span class="glyphicon glyphicon-resize-small"></span></a>
                        <a data-toggle="collapse" title="" data-placement="left" href="#mch_scatter_options" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse Search Options"><span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="mch_scatter">
                    <div class="panel-body">
                        {% include "components/mch_cluster.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="position:relative; z-index:2;">
        <div class="panel panel-default panel-main" style="overflow-x: auto; margin-left:auto; margin-right:auto; display:block;">
            <div class="panel-heading">
                <div class="panel-title">
                    Gene methylation level{% if gene is defined %} - {{ gene }}{% endif %}
                    <a data-toggle="collapse" title="" data-placement="left" href="#mch_box" class="btn btn-sm btn-basic pull-right" style="margin-top: 0px;" data-original-title="Collapse Search Options"><span class="glyphicon glyphicon-resize-small"></span></a>
                </div>
            </div>
            <div class="panel-collapse collapse in" id="mch_box">
                <div class="panel-body">
                    <div class="col-md-9">
                        {% include "components/mch_box.html" %}
                    </div>
                    <div class="col-md-3">
                        {% include "components/mch_table.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %} {% block scripts %} {{super()}}

<script src="./static/plotly.min.js"></script>
<script src="./static/customview.js" type="text/javascript"></script>
<link href="./static/datatables.min.css" rel="stylesheet" />
<script src="./static/datatables.min.js"></script>
<link href="./static/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="./static/bootstrap-toggle.min.js"></script>
<link href="./static/select2.min.css" rel="stylesheet" />
<script src="./static/select2.min.js"></script>
<link href="./static/bootstrap-slider.min.css" rel="stylesheet" />
<script src="./static/bootstrap-slider.min.js"></script>

<script>
    var species = "{{ species }}";
    var pSlider;
    var geneSearchCache;
    var mmu_gID;
    var hsa_gID;
    var grouping;
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
        $('#outlierToggle').bootstrapToggle();
        $('#orthologsToggle').bootstrapToggle();
        $('#orthologsToggle').bootstrapToggle('disable');
        $('#toggle-3d').bootstrapToggle('disable');

        loadClusterPlots();
        randomizeClusterColors();
        initGeneNameSearch();
        $('#geneTable').DataTable();
        initDataTableClick();
                
        // Percentile changes are handled separately, as every change would result in a plot update, but we want
        // this to happen when sliding is actually stopped.
        pSlider = $("#percentile").slider({
            min: 0,
            max: 1,
            step: 0.05,
            value: [0.05, 0.95],
            tooltip_position: 'bottom'
        }).on('slideStop', updateGeneElements).data('slider');
        
    });
    $("#mCHLevelCol :input, #methylationTypeCol :input").change(function() {
        updateGeneElements();
    });

    $("#gene-search-btn").click(function() {
        updateGeneElements();
    });
    
    //wait for resizing to end, then reset axes.
    var resizeTimer;
    $(window).on('resize', function(e) {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function() {
            var buttons = document.getElementsByClassName('modebar-btn');
            for(i = 0; i < buttons.length; i++) {
                if(buttons[i].getAttribute('data-title') == 'Autoscale'){
                    buttons[i].click();
                    console.log("wow");
                }
            }
        }, 250);
    });
    
    $('#back-btn').click(function() {
        geneNameSelector.val(null).trigger("change");
    });
    
    $("#outlierToggle, #orthologsToggle").change(function() {
        updateMCHBoxPlot();
    });

    $("#toggle-3d").change(function() {
        display3DPlotToggle();
    });

    $("#tsneGrouping :input").change(function() {
        loadClusterPlots();
    });

</script>
{% endblock %}
