
<div class="panel-body" style="padding-top:0px;">
    <div class="container">
        <div id="mch-scatter-loader" class="loader"></div>
        <div id="plot-mch-scatter"></div>
    </div>
    <div class="col-xs-12 col-sm-3" id="methylation_color_percentileCol" style="float:right;">
        <label for="methylation_color_percentile" class="control-label" style="text-align: right">Color scale percentile:&nbsp;</label>
        <input id="methylation_color_percentile" type="text" value="" />
    </div>
</div>
