<div class="panel-body" style="padding-top:0px;">
    <div class="container">
        <div id="methylation-box-and-heat">
            <div id="mch-box-loader" class="loader"></div>
            <div class="plot-panel" id="plot-mch-box"></div> <!-- boxplots/heatmaps are put into these two divs -->
            <div class="plot-panel" id="plot-mch-heat"></div>
        </div>
    </div>
    <div class="outlierOptions" style="float:left;">
        <input id="methylation-box-heat-outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
    </div>
    <div class="col-xs-12 col-sm-3" id="methylation_box_color_percentileCol" style="float:right;">
        <label for="methylation_box_color_percentile" class="control-label" style="text-align: right">Color scale percentile:&nbsp;</label>
        <input id="methylation_box_color_percentile" type="text" value="" />
    </div>

    <input id="methylation-box-heat-normalize-toggle" name="methylation-box-heat-normalize-checkbox"
           value="normalize" type="checkbox">
    <label for="methylation-box-heat-normalize-toggle">
        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover"
           data-placement="bottom" title="Normalize by Gene"
           data-content="Min-Max normalization across each row. (Only for heatmap).">Normalization</a>
    </label>


</div>
