<div class="panel-collapse collapse in RNA-plots-options" id="RNA-box-heatmap-options">
    <div class="panel-body option-panel" style="padding-top: 0px; padding-bottom: 0px; visibility: hidden;">
        <div class="container" >
            <div class="row">
                <div class="col-sm-12 col-md-3 col-md-offset-4">
                    <h6 style="color: black">Grouping: </h6>
                    <select id="RNA-box-heat-grouping" class="RNA-tsne-grouping RNA_tsne_option" name="RNA_tsne_grouping">
                        <option value="cluster" selected>by cluster</option>
                        <option value="annotation">by cluster annotation</option>
                        <option value="dataset">by dataset</option>
                        {% if RS2 == true %}
                            <option value="target_region">by RS2 target region</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row" style="display:flex;">
                <!-- <div class="col-sm-12 col-md-2 col-md-offset-4">
                    <input id="RNA-box-heat-normalize-toggle" name="RNA-box-heat-normalize-checkbox" value="normalize" type="checkbox">
                    <label for="RNA-box-heat-normalize-toggle">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Normalize by Gene" data-content="Min-Max normalization across each row. (Only for heatmap).">Normalize by gene</a>
                    </label>
                </div> -->
                <div class="col-sm-12 col-md-1 col-md-offset-1" style="position:relative; ">
                    <button class="btn-sm btn-primary" id="RNA-box-heat-UpdateBtn" style="position:absolute; bottom:0;">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body" style="padding-top:0px;">
    <div class="container">
        <div id="snatac-box-and-heat">
            <div id="RNA-box-loader" class="loader"></div>
            <div class="plot-panel" id="plot-RNA-box"></div>
            <div class="plot-panel" id="plot-RNA-heat"></div>
        </div>
    </div>
    <div class="outlierOptions">
          <input id="RNA-box-heat-outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
          <!--<input id="orthologsToggle" data-toggle="toggle" data-on="Ortholog On" data-off="Ortholog Off" type="checkbox">-->
    </div>
</div>
