<style type="text/css">
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #012849; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #DBDBDB;
        display: block;
        transition: 0.3s;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Styple of options button*/
     .option-button{
        cursor: pointer;
        margin-left: 10px;
    	/*margin-left: 50px;
    	background: #03274B;
    	border-radius: 8px;
    	padding: 10px 40px;
    	color: #ffffff;
    	display: inline-block;
    	font: normal 700 20px/1 "Calibri", sans-serif;
    	text-align: center;
    	text-shadow: none;
    	font-size: 18px;
        margin: 10px;
        */
    }

    /*
    .option-button:hover{
    	margin-left: 50px;
    	background: #03274B;
    	border-radius: 8px;
    	padding: 10px 40px;
    	color: white;
    	display: inline-block;
    	font: normal 700 20px/1 "Calibri", sans-serif;
    	text-align: center;
    	text-shadow: none;
    	font-size: 18px;
        margin: 10px;
        opacity: 0.7;
    }*/

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #options {
        transition: margin-left .5s;
        /*padding: 10px;*/
    }

    .control-label a {
        font-size: 15px;

    }

    .control-label {
        font-size: 15px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 15px;
        }
    }

    h6 {
        font-weight: 700;
        font-size: 17px;
        color: #f1f1f1;
    }

    .closebtn {
        margin-top: 20px;
    }

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    /*animated option icon
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    */

</style>

<script type="text/javascript">
    var close = 1;

    function optionOnclick() {
        if (close) {
            document.getElementById("mySidenav").style.marginLeft = "0px";
            document.getElementById("options").style.marginLeft = "400px";
            close = 0;
        } else if (close == 0) {
            document.getElementById("mySidenav").style.marginLeft = "-400px";
            document.getElementById("options").style.marginLeft = "0";
            close = 1;
        }
    }

    function openNav() {
        // document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("mySidenav").style.marginLeft = "0px";
        document.getElementById("options").style.marginLeft = "400px";
        close = 1;
        // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
    function closeNav() {
        // document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.marginLeft = "-400px";
        document.getElementById("options").style.marginLeft = "0";
        // document.body.style.backgroundColor = "white";
    }

    /*animated change icon
    function changeButton(x) {
      x.classList.toggle("change");
    }
    */

</script>

<!-- Use any element to open the sidenav -->
<div class="option-button" title="Options" data-content="Options" onclick="optionOnclick()" style="position: relative; left:0; z-index:50;">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div id="mySidenav" class="sidenav" style="width: 400px; margin-left: -400px; z-index: 55; padding:20px; margin-top:20px;">

    <h6>Display Options</h6>
    {% if num_dims_options > 1 %}
            <!-- <div style="display:inline-block"> -->
        {% else %}
        <div style="display:none">
            {% endif %}
            <label class="control-label" for="methylation-tsne-dimensions">
                <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                           data-placement="bottom" title="Number of Dimensions"
                           data-content="Choose between 2D or 3D (if available) tSNE coordinates."># Dimensions: </a>
            </label>
            <select id="methylation-tsne-dimensions" class="methylation-tsne-dimensions methylation-tsneoption"
                            name="methylation-tsne-dimensions">
            </select>
            &nbsp;
        </div>

    <!--Data Modality -->
    <div style="padding: 8px 8px 8px 32px;">
<!--         <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
           data-placement="bottom" title="Data Modality"
           data-content="Data modality or marker genes."> 
 -->          
            <select id="data-modality" style="color: black; font-size:15px; height:auto;">
                {% if methylation_data_available == 1 %}
                <option value="snmC-seq">DNA methylation (snmC-seq)</option>
                {% endif %}
                {% if snATAC_data_available == 1 %}
                <option value="snATAC-seq">Chromatin accessibility (snATAC-seq)</option>
                {% endif %}
                {% if RNA_data_available == 1 %}
                <option value="RNA-seq">Transcriptome (RNA-seq)</option>
                {% endif %}
                 <option value="Gene-marker">Cluster specific marker genes</option>
            </select>
        <!-- </a> -->
    </div>

    <!-- Search gene by name: -->
    <div>
        <label for="geneName" class="control-label">
                <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                   data-placement="bottom" title="Search gene(s) by name"
                   data-content="Genes to be displayed.">Gene(s): </a>
        </label>
    </div>
    <div style="padding-left: 32px;">
            <select id="geneName" multiple style="width:100%">
                <option>Enter gene name(s)...</option>
            </select>
    </div>

    <!-- Gene Modules -->
    <div style="width:100%">
        <!-- <label for="geneModulesSelect" class="control-label">
        </label> -->
        <a href="javascript:void(0);" class="hover-tooltip pop" data-toggle="popover"
                data-trigger="hover" data-placement="top" title="Gene Modules"
                data-content="Populate gene search with pre-selected list of known and predicted marker genes for different cell types. (Gene modules were curated from Luo, Keown et al., Science 2017, supplementary figure S10)"
                data-html="true">
            <select id="geneModulesSelect" style="width:100%">
                <option value="0">Pre-defined gene modules...</option>
            </select>
        </a>
    </div>

    <!-- Color Points By -->
    <div id="max-points-div">
        <label class="control-label">
                        <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                   data-placement="bottom" title="Maximum number of points"
                   data-content="Subsample the data points.">Points to show: </a>
        </label>
        <select id="max-points" style="color: black; font-size:15px; height:auto;">
            <option value="1000">1000</option>
            <option value="5000">5000</option>
            <option value="10000" selected>10000</option>
            <option value="20000">20000</option>
            <option value="inf">Unlimited</option>
        </select>
    </div>

    <!-- Color Points By -->
    <div id="tsne-grouping-div">
        <label class="control-label">
            <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                   data-placement="bottom" title="Color points by"
                   data-content="Color points by to be explained.">Color points by: </a>
             </label>
        <select id="methylation-tsne-grouping" name="methylation-tsnegrouping" style="color: black; font-size:15px; height:auto;"></select>
        <select id="snATAC-tsne-grouping" name="snATAC-tsnegrouping" style="color: black; font-size:15px; height:auto; display:none;"></select>
        <select id="RNA-tsne-grouping" name="RNA-tsnegrouping" style="color: black; font-size:15px; height:auto; display:none;"></select>
    </div>

    <!-- Methylation Type -->
    <div style="display:inline-block;" id="methylationTypeDiv">
        <div>
            <label for="mType" class="control-label">
                <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                           data-placement="top" title="Methylation Type"
                           data-content="Type of gene-body methylation values to display.">Methylation Type</a>
            </label>
            <select id="mType" style="color: black; font-size:15px; height:auto;">
                <option value="mCH" selected>mCH</option>
                <option value="mCG">mCG</option>
                <option value="mCA">mCA</option>
            </select>
        </div>
    </div>

    <!-- Methylation Levels -->
    <div style="display:inline-block;" id="methylationLevelDiv">
        <label for="methylation-levels" class="control-label">
            <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
               data-placement="top" title="Methylation Levels"
               data-content="Display original methylation values or normalize by the global methylation value for each cell.">
                <span>Methylation Levels</span>
            </a>
        </label>
        <select id="methylation-levels" style="color: black; font-size:15px; height:auto;">
            <option value="original">Absolute</option>
            <option value="normalized" selected>Normalized</option>
        </select>
    </div>

    <!-- Normalization -->
    <div id="methylation-box-heat-normalize-toggle-div" style="display: none">
    <label for="methylation-box-heat-normalize-toggle" class="control-label">
        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover"
                   data-placement="bottom" title="Normalize by Gene"
                       data-content="Min-Max normalization across each row. (Only for heatmap).">Normalize heatmap rows</a>
        </label>
        <input id="methylation-box-heat-normalize-toggle" name="methylation-box-heat-normalize-checkbox"
                       value="normalize" type="checkbox">
    </div>


    <h6>Analysis Parameters</h6>

    <!-- K-value -->
    <div style="display: inline-block">
        <label class="control-label" for="methylation-clustering-k">
            <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover"
               data-placement="bottom" title="K-value"
               data-content="Number of nearest neighbors (neighboring cells).">K-value: </a>
        </label>
        <select id="methylation-clustering-k" class="methylation-clustering-k methylation-tsneoption"
                name="methylation-clustering-k" style="color: black; font-size:15px; height:auto;"></select>
    </div>

    <!-- Methylation Type for Display -->
    {% if num_algorithm_options > 1 %}
    <div style="display: inline-block; float: left;">
        {% else %}
        <div style="display: none">
            {% endif %}
            <label for="methylation-clustering-algorithms" class="control-label">
                <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover"
                           data-trigger="hover" data-placement="bottom" title="Algorithm"
                           data-content="lv = Louvain Modularity.">Algorithm: </a>
            </label>
            <select id="methylation-clustering-algorithms"
                            class="methylation-clustering-algorithms methylation-tsneoption"
                            name="methylation-clustering-algorithms" style="color: black; font-size:15px; height:auto;"></select>
            &nbsp;
        </div>

        <h6 style="font-size: 15px; color: white; font-weight: bold; padding-left: 32px;">Methylation Type:</h6>

        <div style="display: inline-block; float: left; padding-left: 32px;">
            <label for="methylation-clustering-methylation" class="control-label">
                <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover"
                           data-trigger="hover" data-placement="bottom" title="Methylation Type"
                           data-content="Types of methylation used for clustering.">For
                            Clustering </a>
            </label>
            <select style="width:70px;" id="methylation-clustering-methylation"
                            class="methylation-clustering-methylation methylation-tsneoption"
                            name="methylation-clustering-methylation" 
                            style="color: black; font-size:15px; height:auto;"></select>
        </div>

    <!-- tSNE Methylation Type -->
    <div style="display:inline-block; padding-left: 32px;">
        <label class="control-label" for="methylation-tsne-methylation">
                    <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                       data-placement="bottom" title="Methylation Type"
                       data-content="Type of methylation used to calculate tSNE coordinates.">For tSNE </a>
        </label>
        <select id="methylation-tsne-methylation" class="methylation-tsne-methylation methylation-tsneoption"
                name="methylation-tsne-methylation"
                style="color: black; font-size:15px; height:auto;">
        </select>
        &nbsp;
    </div>

    <!-- tSNE Perplexity -->
    <div style="display:inline-block">
        <!-- {% if num_perplexity_options > 1 %} -->
        <label class="control-label" for="ethylation-tsne-perplexity">
            <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover"
                       data-placement="bottom" title="Perplexity" data-content="Parameter for tuning tSNE.">tSNE
                        Perplexity: </a>
        </label>
        <select id="methylation-tsne-perplexity" class="methylation-tsne-perplexity methylation-tsneoption"
                        name="methylation-tsne-perplexity"
                        style="color: black; font-size:15px; height:auto;">
        </select>
                <!-- {% endif %} -->
    </div>

    <div style="margin: auto; width=100%; display: grid;">
        <button class="btn-sm btn-primary methylation-tsneUpdateBtn" id="methylation-tsneUpdateBtn" style="width:100%; font-size: 15px;">Update</button>
    </div>
</div>
