<style type="text/css">
	/* The side navigation menu */
	.sidenav {
	    height: 100%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Stay on top */
	    top: 0; /* Stay at the top */
	    left: 0;
	    background-color: #111; /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* The navigation menu links */
	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover {
	    color: #f1f1f1;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#options {
	    transition: margin-left .5s;
	    padding: 20px;
	}

	.control-label a {
		/*transition: margin-left .5s;*/
	    /*padding: 20px;*/
	    font-size: 18px;
	    /*color: white;*/
	}

	.control-label {
		/*transition: margin-left .5s;*/
	    /*padding: 20px;*/
	    font-size: 18px;
	    /*color: white;*/
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
	    .sidenav {padding-top: 15px;}
	    .sidenav a {font-size: 18px;}
	}
	label {
		font-weight: 400;
		/*font-size: 30px;*/
	}
</style>

<script type="text/javascript">
	var close = 1;
	function optionOnclick(){
		if (close) {
			document.getElementById("mySidenav").style.marginLeft = "0px";
	    	document.getElementById("options").style.marginLeft = "500px";
	    	close = 0;
		} else if (close == 0){
			document.getElementById("mySidenav").style.marginLeft = "-500px";
	    	document.getElementById("options").style.marginLeft = "0";
	    	close = 1;
		}
	}
	function openNav() {
	    // document.getElementById("mySidenav").style.width = "250px";
	    document.getElementById("mySidenav").style.marginLeft = "0px";
	    document.getElementById("options").style.marginLeft = "500px";
	    close = 1;
	    // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

	/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
	function closeNav() {
	    // document.getElementById("mySidenav").style.width = "0";
	    document.getElementById("mySidenav").style.marginLeft = "-500px";
	    document.getElementById("options").style.marginLeft = "0";
	    // document.body.style.backgroundColor = "white";
	}
</script>

<!-- Use any element to open the sidenav -->
<button onclick="optionOnclick()">Options</button>

<div id="mySidenav" class="sidenav" style="width: 500px; margin-left: -500px; padding: 40px">

	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

	<div class="container">
		<div class="row">

			<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> -->

				<!-- Search gene by name: -->
				<label for="geneName" class="control-label">
					Search gene by name:
				</label>
				<br>
				<select id="geneName" multiple style="width:100%">
					<option>Select..</option>
				</select>


				<!-- Methylation Levels -->
				<div style="display:inline-block; float:left;" id="methylationLevelDiv">
					<label for="methylation-levels" class="control-label">
						<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="top" title="Methylation Levels" data-content="Display original methylation values or normalize by the global methylation value for each cell.">
							<span>Methylation Levels</span>
						</a>
					</label>
					<select id="methylation-levels">
						<option value="original">Original</option>
						<option value="normalized" selected>Normalized</option>
				 	</select>
				</div>

				<div style="display:inline-block; float:left;">
					&nbsp;
				</div>

				<!-- Methylation Type -->
				<div style="display:inline-block; float:left;" id="methylationTypeDiv">
					<div class="form-group">
						<label for="mType" class="control-label">
							<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="top" title="Methylation Type" data-content="Type of gene-body methylation values to display.">Methylation Type</a>
						</label>
						<select  id="mType">
							<option value="mCH" selected>mCH</option>
							<option value="mCG">mCG</option>
							<option value="mCA">mCA</option>
					 	</select>
				 	</div>
				</div>


				<!-- Gene Modules -->
				<label for="geneModulesSelect" class="control-label">
					<a href="javascript:void(0);" class="hover-tooltip pop" data-toggle="popover" data-trigger="hover" data-placement="top" title="Gene Modules" data-content="Populate gene search with pre-selected list of known and predicted marker genes for different cell types. (Gene modules were curated from supplementary figure S10. <a href='http://science.sciencemag.org/content/357/6351/600' target='_blank'>Link</a>)" data-html="true">Gene Modules</a>
				</label>
				<br>
				<select id="geneModulesSelect" style="width:100%">
					<option value="0">Select..</option>
				</select>

				<div style="display: inline-block;">
					<button type="button" class="btn btn-success btn-sm" id="gene-search-btn" style="padding-right:10px;">
						<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Update
					</button>
					<button type="button" class="btn btn-default btn-sm" id="clear-gene-search-btn">
						Clear
					</button>
				</div>
			<!-- </div> -->



		<!-- <a data-toggle="collapse" title="" data-placement="left" data-target="#methylation-plots-options" class="btn btn-sm btn-basic pull-left" style="margin-top: 0px; float:left;" data-original-title="Collapse Methylation tSNE Options">
			<h6><i class="glyphicon glyphicon-cog"></i> tSNE and Clustering Options</h6>
		</a> -->




	<!-- <div id="methylation-plots-options" class="collapse"> -->


			<div>
				<!-- <div id="methylation_tsneType"> -->
					<h6>tSNE options:</h6>
					{% if num_dims_options > 1 %}
					<div style="display:inline-block">
					{% else %}
					<div style="display:none">
					{% endif %}
						<label class="control-label" for="methylation-tsne-dimensions">
							<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Number of Dimensions" data-content="Choose between 2D or 3D (if available) tSNE coordinates."># Dimensions: </a>
						</label>
						<select id="methylation-tsne-dimensions" class="methylation-tsne-dimensions methylation-tsneoption" name="methylation-tsne-dimensions">
						</select>
						&nbsp;
					</div>
					<div style="display:inline-block">
						<label class="control-label" for="methylation-tsne-methylation">
							<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Methylation Type" data-content="Type of methylation used to calculate tSNE coordinates.">Methylation Type: </a>
						</label>
						<select id="methylation-tsne-methylation" class="methylation-tsne-methylation methylation-tsneoption" name="methylation-tsne-methylation">
						</select>
						&nbsp;
					</div>
					<div style="display:inline-block">
						{% if num_perplexity_options > 1 %}
						<label class="control-label" for="methylation-tsne-perplexity">
							<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Perplexity" data-content="Parameter for tuning tSNE.">Perplexity: </a>
						</label>
						<select id="methylation-tsne-perplexity" class="methylation-tsne-perplexity methylation-tsneoption" name="methylation-tsne-perplexity">
						</select>
						{% endif %}
					</div>

				<label class="control-label"><h6>Grouping options:</h6></label>
				<select id="methylation-tsne-grouping" class="methylation-tsne-grouping methylation-tsneoption" name="methylation-tsnegrouping">
					<option value="cluster" selected>by cluster</option>
					<option value="annotation">by cluster annotation</option>
					<option value="dataset">by dataset</option>
					<option value="slice">by slice</option>
					<option value="sex">by sex</option>
					{% if RS2 == true %}
					<option value="target_region">by RS2 target region</option>
					{% endif %}
				</select>

	            <!-- <div id="methylation_tsneClustering"> -->
	                <h6>Clustering: </h6>

	                {% if num_algorithm_options > 1 %}
	                    <div style="display: inline-block">
	                {% else %}
	                    <div style="display: none">
	                {% endif %}
	                    <label for="methylation-clustering-algorithms">
	                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Algorithm" data-content="lv = Louvain Modularity.">Algorithm: </a>
	                        </label>
	                        <select id="methylation-clustering-algorithms" class="methylation-clustering-algorithms methylation-tsneoption" name="methylation-clustering-algorithms"></select>
	                        &nbsp;
	                    </div>
	                    <div style="display: inline-block">
	                        <label for="methylation-clustering-methylation">
	                            <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Methylation Type" data-content="Types of methylation used for clustering.">Methylation Type: </a>
	                        </label>
	                        <select id="methylation-clustering-methylation" class="methylation-clustering-methylation methylation-tsneoption" name="methylation-clustering-methylation"></select>
	                        &nbsp;
	                    </div>
	                    <div style="display: inline-block">
	                        <label for="methylation-clustering-k">
	                            <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="K-value" data-content="Number of nearest neighbors (neighboring cells).">K-value: </a>
	                        </label>
	                        <select id="methylation-clustering-k" class="methylation-clustering-k methylation-tsneoption" name="methylation-clustering-k"></select>
	                    </div>
	                </div>
			    	<input id="methylation-box-heat-outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
			    	<input id="methylation-box-heat-normalize-toggle" name="methylation-box-heat-normalize-checkbox" value="normalize" type="checkbox">
			    	<label for="methylation-box-heat-normalize-toggle">
			    		<a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Normalize by Gene" data-content="Min-Max normalization across each row. (Only for heatmap).">Normalize by gene</a>
			    	</label>
			    	<button class="btn-sm btn-primary methylation-tsneUpdateBtn" id="methylation-tsneUpdateBtn">Update
			    	</button>
		   	 	<!-- </div> -->

			</div>
		</div>
	</div>
</div>
