<style type="text/css">
	/* The side navigation menu */
	.sidenav {
	    height: 100%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Stay on top */
	    top: 0; /* Stay at the top */
	    left: 0;
	    background-color: #111; /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* The navigation menu links */
	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover {
	    color: #f1f1f1;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	    transition: margin-left .5s;
	    padding: 20px;
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
	    .sidenav {padding-top: 15px;}
	    .sidenav a {font-size: 18px;}
	}
</style>

<script type="text/javascript">
	function openNav() {
	    // document.getElementById("mySidenav").style.width = "250px";
	    document.getElementById("mySidenav").style.marginLeft = "0px";
	    document.getElementById("main").style.marginLeft = "250px";
	    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

	/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
	function closeNav() {
	    // document.getElementById("mySidenav").style.width = "0";
	    document.getElementById("mySidenav").style.marginLeft = "-250px";
	    document.getElementById("main").style.marginLeft = "0";
	    document.body.style.backgroundColor = "white";
	}
</script>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">Options</span>


<div id="mySidenav" class="sidenav" style="width: 250px; margin-left: -250px"">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

	<!-- gene search options -->

	<label for="geneName" class="control-label">
		Search gene by name:
	</label><br>
	<select id="geneName" multiple style="width:100%">
		<option>Select..</option>
	</select>

		

	<label for="levels" class="control-label">
		<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="top" title="Methylation Levels" data-content="Display original methylation values or normalize by the global methylation value for each cell.">Methylation Levels</a>
	</label>
	<select  id="levels">
	 	<option value="original">Original</option>
		<option value="normalized" selected>Normalized</option>
	 </select>
	<div class="form-group">
		<label for="mType" class="control-label">
			<a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="top" title="Methylation Type" data-content="Type of gene-body methylation values to display.">Methylation Type</a>
		</label>
		<select  id="mType">
				<option value="mCH" selected>mCH</option>
			<option value="mCG">mCG</option>
			<option value="mCA">mCA</option>
	 	</select>
	</div>

	<label for="geneModulesSelect" class="control-label">
		<a href="javascript:void(0);" class="hover-tooltip pop" data-toggle="popover" data-trigger="hover" data-placement="top" title="Gene Modules" data-content="Populate gene search with pre-selected list of known and predicted marker genes for different cell types. (Gene modules were curated from supplementary figure S10. <a href='http://science.sciencemag.org/content/357/6351/600' target='_blank'>Link</a>)" data-html="true">Gene Modules</a>
	</label>
	<br>
	<select id="geneModulesSelect" style="width:100%">
		<option value="0">Select..</option>
	</select>

	<button type="button" class="btn btn-success btn-sm" id="gene-search-btn" style="padding-right:10px;">
		<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Update
	</button>
	<button type="button" class="btn btn-default btn-sm" id="clear-gene-search-btn">
		Clear
	</button>
</div>


