<div class="panel-collapse collapse in cluster_options_group methylation-plots-options" id="methylation-tsneplots_options">
    <div class="panel-body option-panel" style="padding-top:0px; padding-bottom: 0px;">
        <div class="container">
            <div class="col-sm-12">
                <div id="methylation_tsneType" class="col-md-offset-2">
                    <h6>tSNE: </h6>
                    <!--
                    <label for="methylation-tsnesettings">tSNE:</label>
                    <select id="methylation-tsnesettings" class="methylation-tsneoption" name="methylation-tsnesettings">
                    </select>
                    -->
                    <label for="methylation-tsne-dimensions">
                        <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Number of Dimensions" data-content="Choose between 2D or 3D (if available) tSNE coordinates."># Dimensions: </a>
                    </label>
                    <select id="methylation-tsne-dimensions" class="methylation-tsne-dimensions methylation-tsneoption" name="methylation-tsne-dimensions">
                    </select>
                    &nbsp;
                    <label for="methylation-tsne-methylation">
                        <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Methylation Type" data-content="Type of methylation used to calculate tSNE coordinates.">Methylation Type: </a>
                    </label>
                    <select id="methylation-tsne-methylation" class="methylation-tsne-methylation methylation-tsneoption" name="methylation-tsne-methylation">
                    </select>
                    &nbsp;
                    <label for="methylation-tsne-perplexity">
                        <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Perplexity" data-content="Parameter for tuning tSNE.">Perplexity: </a>
                    </label>
                    <select id="methylation-tsne-perplexity" class="methylation-tsne-perplexity methylation-tsneoption" name="methylation-tsne-perplexity">
                    </select>
                </div>
            </div> 
            <div class="col-sm-12">
                <div class="col-md-offset-2" id="methylation_tsneGrouping">
                    <h6>Grouping: </h6>
                    <select id="methylation-tsne-grouping" class="methylation-tsne-grouping methylation-tsneoption" name="methylation-tsnegrouping">
                        <option value="cluster">by cluster</option>
                        <option value="annotation" selected>by cluster annotation</option>
                        <option value="dataset">by dataset</option>
                        <option value="slice">by slice</option>
                        <option value="sex">by sex</option>
                        {% if RS2 == true %}
                            <option value="target_region">by RS2 target region</option>
                        {% endif %}
                        <!-- <option value="layer">by dissection layer</option> -->
                        <!-- <option value="cluster_biosample">by cluster+biosample</option> -->
                    </select>
                </div>
            </div>
            <div class="col-sm-12" style="display:flex;">
                <div class="col-md-offset-2" id="methylation_tsneClustering">
                    <h6>Clustering: </h6>
                    <!--
                    <label for="methylation-tsneclustering">Clustering: </label>
                    <select id ="methylation-tsneclustering" class="methylation-tsneoption" name="methylation-tsneclustering">
                    </select>
                    -->
                    <label for="methylation-clustering-algorithms">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Algorithm" data-content="lv = Louvain Modularity.">Algorithm: </a>
                    </label>
                    <select id="methylation-clustering-algorithms" class="methylation-clustering-algorithms methylation-tsneoption" name="methylation-clustering-algorithms"></select>
                    &nbsp;
                    <label for="methylation-clustering-methylation">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Methylation Type" data-content="Types of methylation used for clustering.">Methylation Type: </a>
                    </label>
                    <select id="methylation-clustering-methylation" class="methylation-clustering-methylation methylation-tsneoption" name="methylation-clustering-methylation"></select>
                    &nbsp;
                    <label for="methylation-clustering-npc">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Principal Components" data-content="Number of principal components kept for clustering."># of PC's: </a>
                    </label>
                    <select id="methylation-clustering-npc" class="methylation-clustering-npc methylation-tsneoption" name="methylation-clustering-npc"></select>
                    &nbsp;
                    <label for="methylation-clustering-k">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="K-value" data-content="Number of nearest neighbors (neighboring cells).">K-value: </a>
                    </label>
                    <select id="methylation-clustering-k" class="methylation-clustering-k methylation-tsneoption" name="methylation-clustering-k"></select>
                </div>
                <div class="col-sm-12 col-md-1" style="position:relative">
                    <button class="btn-sm btn-primary methylation-tsneUpdateBtn" id="methylation-tsneUpdateBtn" style="position:absolute; bottom:0;">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body" style="padding-top:0px;">
    <div class="container">
        <div id="mch-scatter-loader" class="loader"></div>
        <div id="plot-mch-scatter"></div>
    </div>
    <div id="methylation_tsneOutlierOptions" style="float:left;">
        <input id="methylation_tsneOutlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
    </div>
    <div class="col-xs-12 col-sm-3" id="methylation_color_percentileCol" style="float:right;">
        <label for="methylation_color_percentile" class="control-label" style="text-align: right">Color scale percentile:&nbsp;</label>
        <input id="methylation_color_percentile" type="text" value="" />
    </div>
</div>
