<div class="panel-collapse collapse in cluster_options_group methylation-plots-options" id="methylation_tsne_plots_options">
    <div class="panel-body option-panel" style="padding-top:0px; padding-bottom: 0px;">
        <div>
            <div class="row-fluid">
                <div id="methylation_tsneType" class="col-xsm-12 col-md-5" style=" display:block; padding:0px;">
                    <h6>tSNE: </h6>
                    <!--
                    <label for="methylation_tsne_settings">tSNE:</label>
                    <select id="methylation_tsne_settings" class="methylation_tsne_option" name="methylation_tsne_settings">
                    </select>
                    -->
                    <label for="methylation_tsne_methylation">
                        <a href="#" class="hover-tooltip" data-toggle="popover" data-trigger="hover" title="Methylation Type" data-content="Type of methylation used to calculate tSNE coordinates.">Methylation Type: </a>
                    </label>
                    <select id="methylation_tsne_methylation" class="methylation_tsne_option" name="methylation_tsne_methylation">
                    </select>
                    &nbsp;
                    <label for="methylation_tsne_dimensions">
                        <a href="#" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Number of Dimensions" data-content="Choose between 2D or 3D (if available) tSNE coordinates."># Dimensions: </a>
                    </label>
                    <select id="methylation_tsne_dimensions" class="methylation_tsne_option" name="methylation_tsne_dimensions">
                    </select>
                    &nbsp;
                    <label for="methylation_tsne_perplexity">
                        <a href="#" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Perplexity" data-content="Parameter for tuning tSNE.">Perplexity: </a>
                    </label>
                    <select id="methylation_tsne_perplexity" class="methylation_tsne_option" name="methylation_tsne_perplexity">
                    </select>
                </div>
                <div class="col-xsm-12 col-sm-4 col-md-2" id="methylation_tsneGrouping" style="display:block;">
                    <h6>Grouping: </h6>
                    <select id="methylation_tsne_grouping" class="methylation_tsne_option" name="methylation_tsne_grouping">
                        <option value="cluster">by cluster</option>
                        <option value="annotation" selected>by cluster annotation</option>
                        <option value="dataset">by dataset</option>
                        <!-- <option value="layer">by dissection layer</option> -->
                        <!-- <option value="cluster_biosample">by cluster+biosample</option> -->
                    </select>
                </div>
                <div class="col-xsm-12 col-sm-12 col-md-5" id="methylation_tsneClustering" style="display:block; padding:0px">
                    <h6>Clustering: </h6>
                    <!--
                    <label for="methylation_tsne_clustering">Clustering: </label>
                    <select id ="methylation_tsne_clustering" class="methylation_tsne_option" name="methylation_tsne_clustering">
                    </select>
                    -->
                    <label for="methylation_clustering_algorithms">
                        <a class="hover-tooltip" href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Algorithm" data-content="lv = Louvain Modularity.">Algorithm: </a>
                    </label>
                    <select id="methylation_clustering_algorithms" class="methylation_tsne_option" name="methylation_clustering_algorithms"></select>
                    &nbsp;
                    <label for="methylation_clustering_methylation">
                        <a class="hover-tooltip" href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Methylation Type" data-content="Types of methylation used for clustering.">Methylation Type: </a>
                    </label>
                    <select id="methylation_clustering_methylation" class="methylation_tsne_option" name="methylation_clustering_methylation"></select>
                    &nbsp;
                    <label for="methylation_clustering_npc">
                        <a class="hover-tooltip" href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Principal Components" data-content="Number of principal components kept for clustering."># of PC's: </a>
                    </label>
                    <select id="methylation_clustering_npc" class="methylation_tsne_option" name="methylation_clustering_npc"></select>
                    &nbsp;
                    <label for="methylation_clustering_k">
                        <a class="hover-tooltip" href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="K-value" data-content="Number of nearest neighbors (neighboring cells).">K-value: </a>
                    </label>
                    <select id="methylation_clustering_k" class="methylation_tsne_option" name="methylation_clustering_k"></select>
                </div>
            </div>
            <div class="col-sm-1 col-sm-offset-5" style="padding-bottom:10px;">
                <br />
                <button class="btn-sm btn-primary" id="methylation_tsneUpdateBtn">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="panel-body" style="padding-top:0px;">
    <div id="plot-mch-scatter">Loading...</div>
    <div id="methylation_tsneOutlierOptions" style="float:left;">
        <input id="methylation_tsneOutlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
    </div>
    <div class="col-xs-12 col-sm-3" id="methylation_color_percentileCol" style="float:right;">
        <label for="methylation_color_percentile" class="control-label" style="text-align: right">Color scale percentile:&nbsp;</label>
        <input id="methylation_color_percentile" type="text" value="" />
    </div>
</div>
