<div class="panel-collapse collapse cluster_options_group" id="mch_plots_options">
    <div class="panel-body option-panel" style="padding-top:0px; padding-bottom: 0px;">
    	<div class="container-fluid">
	        <div class="row-fluid">
		            <div class="col-xs-12 col-sm-5" id="percentileCol" style="white-space:nowrap">
		                <label for="percentile" class="control-label" style="text-align: center">Color scale percentile:&nbsp;</label>
		                <input id="percentile" type="text" value="" />
		            </div>
	        </div>
	    </div>
    </div>
</div>
<div class="panel-body" style="padding-top:0px;">
    <div id="plot-mch-scatter">Loading...</div>
</div>
