<div class="panel-collapse collapse in" id="snATAC-box-heatmap-options">
    <div class="panel-body option-panel" style="padding-top: 0px; padding-bottom: 0px;">
        <div class="col-sm-3" style="display:inline-block; padding: 0px; float: right;">
            <input id="snATAC-box-heat-normalize-toggle" name="snATAC-box-heat-normalize-checkbox" value="normalize" type="checkbox">
            <label for="snATAC-box-heat-normalize-toggle">Normalize by gene</label>
        </div>
    </div>
</div>
<div class="plot-panel" id="plot-snATAC-box">Loading...</div>
<div class="plot-panel" id="plot-snATAC-heat"></div>
<div class="outlierOptions">
      <input id="snATAC-box-heat-outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
      <!--<input id="orthologsToggle" data-toggle="toggle" data-on="Ortholog On" data-off="Ortholog Off" type="checkbox">-->
</div>
