<div class="panel-collapse collapse in snATAC-plots-options" id="snATAC-box-heatmap-options">
    <div class="panel-body option-panel" style="padding-top: 0px; padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-md-offset-4">
                    <h6>Grouping: </h6>
                    <select id="snATAC-box-heat-grouping" class="snATAC-tsne-grouping snATAC_tsne_option" name="snATAC_tsne_grouping">
                        <option value="cluster" selected>by cluster</option>
                        <option value="annotation">by cluster annotation</option>
                        <option value="dataset">by dataset</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row" style="display:flex;">
                <div class="col-sm-12 col-md-2 col-md-offset-4">
                    <input id="snATAC-box-heat-normalize-toggle" name="snATAC-box-heat-normalize-checkbox" value="normalize" type="checkbox">
                    <label for="snATAC-box-heat-normalize-toggle">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Normalize by Gene" data-content="Min-Max normalization across each row. (Only for heatmap).">Normalize by gene</a>
                    </label>
                </div>
                <div class="col-sm-12 col-md-1 col-md-offset-1" style="position:relative">
                    <button class="btn-sm btn-primary" id="snATAC-box-heat-UpdateBtn" style="position:absolute; bottom:0;">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body" style="padding-top:0px;">
    <div class="container">
        <div id="snATAC-box-loader" class="loader"></div>
        <div class="plot-panel" id="plot-snATAC-box"></div>
        <div class="plot-panel" id="plot-snATAC-heat"></div>
    </div>
    <div class="outlierOptions">
          <input id="snATAC-box-heat-outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
          <!--<input id="orthologsToggle" data-toggle="toggle" data-on="Ortholog On" data-off="Ortholog Off" type="checkbox">-->
    </div>
</div>
