<div class="panel-collapse collapse in cluster_options_group snATAC-plots-options" id="snATAC_tsne_plots_options">
    <div class="panel-body option-panel" style="padding-top:0px; padding-bottom: 0px;">
        <div class="container">
            <div class="col-sm-12" style="display:flex;">
                <!--<div id="snATAC_tsneType" class="col-xsm-12 col-md-5" style=" display:block; padding:0px;">
                    <h6>tSNE: </h6>
                    <label for="snATAC_tsne_dimensions">
                        <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="right" title="Number of Dimensions" data-content="Choose between 2D or 3D (if available) tSNE coordinates."># Dimensions: </a>
                    </label>
                    <select id="snATAC_tsne_dimensions" class="snATAC_tsne_option" name="snATAC_tsne_dimensions">
                    </select>
                    &nbsp;
                    <label for="snATAC_tsne_perplexity">
                        <a href="javascript:void(0);" class="hover-tooltip" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Perplexity" data-content="Parameter for tuning tSNE.">Perplexity: </a>
                    </label>
                    <select id="snATAC_tsne_perplexity" class="snATAC_tsne_option" name="snATAC_tsne_perplexity">
                    </select>
                </div>-->
                <div class="col-sm-12 col-md-2 col-md-offset-4" id="snATAC_tsneGrouping" style="display:block;">
                    <h6>Grouping: </h6>
                    <select id="snATAC-tsne-grouping" class="snATAC-tsne-grouping snATAC_tsne_option" name="snATAC_tsne_grouping">
                        <option value="cluster" selected>by cluster</option>
                        <option value="annotation">by cluster annotation</option>
                        <option value="dataset">by dataset</option>
                    </select>
                </div>
                <!--<div class="col-xsm-12 col-sm-12 col-md-5" id="snATAC_tsneClustering" style="display:block; padding:0px">
                    <h6>Clustering: </h6>
                    <label for="snATAC_clustering_algorithms">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Algorithm" data-content="lv = Louvain Modularity.">Algorithm: </a>
                    </label>
                    <select id="snATAC_clustering_algorithms" class="snATAC_tsne_option" name="snATAC_clustering_algorithms"></select>
                    &nbsp;
                    <label for="snATAC_clustering_npc">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Principal Components" data-content="Number of principal components kept for clustering."># of PC's: </a>
                    </label>
                    <select id="snATAC_clustering_npc" class="snATAC_tsne_option" name="snATAC_clustering_npc"></select>
                    &nbsp;
                    <label for="snATAC_clustering_k">
                        <a class="hover-tooltip" href="javascript:void(0);" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="K-value" data-content="Number of nearest neighbors (neighboring cells).">K-value: </a>
                    </label>
                    <select id="snATAC_clustering_k" class="snATAC_tsne_option" name="snATAC_clustering_k"></select>
                </div>-->
                <div class="col-sm-12 col-md-1 col-md-offset-1" style="position:relative;">
                    <button class="btn-sm btn-primary" id="snATAC-tsneUpdateBtn" style="position:absolute; bottom:0;">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body" style="padding-top:0px;">
    <div class="container">
        <div id="snATAC-scatter-loader" class="loader"></div>
        <div id="plot-snATAC-scatter"></div>
    </div>
    <div id="snATAC_tsneOutlierOptions" style="float:left;">
        <input id="snATAC_tsneOutlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
    </div>
    <div class="col-xs-12 col-sm-3" id="snATAC_color_percentileCol" style="float:right;">
        <label for="snATAC_color_percentile" class="control-label" style="text-align: right">Color scale percentile:&nbsp;</label>
        <input id="snATAC_color_percentile" type="text" value="" />
    </div>
</div>
